<div>
 <% @header = "New Transaction" %>
  <%= form_with model: @transact, url: category_transacts_path(@category) do |form| %>
    <div>
          <div>
            <%= form.text_field :name,  placeholder: "New Transaction Name", required: true %>
            <%= form.number_field :amount, placeholder: "Amount (USD)", required: true %>
          </div>
    </div>
    <%= form.submit "Save"%>
  <% end %>
</div>
