@font-face {
    font-family: "Proxima Nova";
    src: url("/assets/fonts/Proxima-Nova.otf") format("otf");
    font-weight: normal;
    font-style: normal;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Proxima Nova", sans-serif;
  }
/* -----------main style---------- */
  .bg-main-color{
    background-color: #3778c3;
  }

  .text-white{
     color: white;
  }
  
  .text-green{
    color: green;
  }
  .text-red{
    color: rgb(187, 30, 30);
  }

  .text-color{
    color:  #989DA3;
  }
  .sec{
  padding: 1rem;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.sec h2{
  width: 100%;
  text-align: center;
  color: #3778c3;
  margin: 1rem;
}
.btn{
  margin: 0.2rem;
  padding: 0.5rem;
  background-color:transparent;
  border: none;
  color: white ;
  font-size: 15px;
  font-weight: 400;
}

.field{
  margin-top: 0.2rem;
width: 100%;
}
.field-{
  padding: 0.6rem 0.3rem 0.6rem 0.3rem;
width: 100%;
border: #989DA3 solid 1px;
}

  /* -----------splash---------- */
.splash{
  height: 100vh;
  padding: 20%;
  display: flex;
  flex-direction: column;
justify-content: space-around;
align-items: center;
}
.splash .btns{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.splash .btn{
  margin: 0.2rem;
  width: 95%;
  padding: 5%;
  background-color:#e3edf8 ;
  color: #989DA3;
  text-align: center;
  text-decoration:none;
  border-radius: 10px;
}
.splash .btn:hover{
  background-color:#3778c3;
  border: white solid 1px;
  box-shadow: 3px 3px 5px #e3edf8;
  color: white ;

}
.splash .btn:active{
  background-color:white;
  border: #3778c3 solid 1px;
  box-shadow: 3px 3px 5px #e3edf8;
  color: #3778c3 ;
}
/* --------------Log in------------ */

/* --------------Header------------- */
.header{
   padding:1rem 0.5rem; 
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header button{
  background-color:transparent;
  border: none;
}

