<div class='splash text-white bg-main-color'>
  <h1>Budget App</h1>
  <div class='btns'>
    <%= link_to "Log In", new_user_session_path ,class:'btn'%>
    <%= link_to "Sign up", new_user_registration_path,class:'btn'%>
  </div>
</div>